.formStyle {
    width: 50%;
    margin-left: 50% !important;
    transform: translateX(-50%);
    margin-top: 1rem !important;
    margin-bottom: 5rem !important;
    border-radius: 0.5rem;
}
body{
    background-image: url("./bg.png");
    background-size: contain;
}

.container {
    padding: 1rem;
    background-color: #cffff6ed;
}

span,
p {
    font-weight: 300;
    background-color: #4cdbb4;
    padding: 0.2rem 1rem;
    border-radius: 0.3rem;
}

.title {
    text-align: center;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #8aff8a;
    width: 50%;
    transform: translateX(-50%);
    margin-left: 50%;
    padding: 0.5rem;
    border-radius: 1rem;
}

label {
    font-size: 1rem;
    font-weight: 600;
}

h3 {
    padding: 0.3rem;
}

.center {
    margin-left: 50%;
    transform: translateX(-50%);
}

@media only screen and (max-width: 980px) {
    .formStyle {
        width: 82%;
    }

    .title {
        width: 82%;
    }
}